
.mediumpurple {
  background-color: mediumpurple;
}

.greenyellow {
  background-color: greenyellow;
}

.orange {
  background-color: orange;
}

.aqua {
  background-color: aqua;
}

.darkgray {
  background-color: darkgray;
}

.brown {
  background-color: brown;
}
.pink{
  background-color: deeppink;
}
.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.black {
  background-color: black;
}

.yellow {
  background-color: yellow;
}

.grey {
  background-color: grey;
}

.lightgrey {
  background-color: #f1f1f1;
}
.lime{
  background-color: lime;
}
.mediumslateblue{
  background-color: mediumslateblue;
}
.springGreen{
  background-color: springGreen;
}
.whitesmoke{
  background-color: whitesmoke;
}